.threedo-UI-select{border:1px solid #333;cursor:pointer;z-index:1000;}
.threedo-UI-select > .label{float: left;padding:.3em;}
.threedo-UI-select > .label > .arrow-down{float: right;margin: .45em .2em 0 1em;}
.threedo-UI-select > .options{display:none;}
.threedo-UI-select .option{padding:.3em;}
.threedo-UI-select .option:first-child{padding-top:.6em;}