.threedo-UI{color:#dedede;position:absolute;z-index:999;font-family:verdana;}
.threedo-UI-logo{width:100%;color:#fff;text-align:center;font-weight:bold;font-size:2em;}
.arrow-down{border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #fff;}